.chartDiv{
    margin: 8px auto;
    padding:15px;
    border-radius:10px;
   
}

body{
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 30px 0px;
}